@media (min-width: 768px) {
  .border-right-responsive {
    border-right: 1px solid #000;
  };
  .border-bottom-responsive {
    border-bottom: 1px solid #000;
  };
}

@media (min-width: 768px) {
  .border-bottom-responsive {
    border-right: none;
  }
};
