@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.page-title {
  font-size: 1.5rem
}

@include media-breakpoint-up(sm) {
  .page-title {
    font-size: 2rem;
  }
}

.navbar {
  border-bottom: 1px solid #000;
}

.active {
  text-decoration: underline;
  color: #000;
}

a:hover {
  text-decoration: underline;;
  color: #000;
}
