@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";


@include media-breakpoint-up(md) {
  .invite-header {
    font-size: 1.25rem;
  }
}

@include media-breakpoint-up(xl) {
  .invite-header {
    font-size: 1.5rem;
  }
}

.body-section {
  margin-bottom: 1rem;
}

.body-section--details{
  min-width: 500px;
  min-height: 150px;
}

.details--date {
  font-size: 50px;
}

.details--location {
  font-size: 25px;
}

.border-right {
  border-right: 1px solid #ccc
}

.w-inherit {
  width: inherit;
}

.section-header {
  font-family: Underground;
}
