.footer {
  padding: 16px;
  background-color: #eee;
  bottom: 0;
  position: absolute;
  width: 100%;
  font-size: 14px;
}

.footer-details {
  margin-top: 16px;
}

.footer-details--keys {
  padding-right: 0.25rem;
}
.footer-details--keys {
  padding-left: 0.25rem;
}
