.is-30 {
  font-size: 20px
}

.is-20 {
  font-size: 20px
}

.is-12 {
  font-size: 12px;
}

.is-flex {
  display: flex;
}

.flex-justify--start {
  justify-content: flex-start;
}
.flex-justify--center {
  justify-content: center;
}
.flex-justify--end {
  justify-content: flex-end;
}
.flex-align--start {
  align-items: flex-start;
}
.flex-align--center {
  align-items: center;
}
.flex-align--end {
  align-items: flex-end;
}

.flex-direction--column {
  flex-direction: column;

}

.flex-direction--row {
  flex-direction: row;
}
